# LaTeX intermediate files
*.aux
*.bbl
*.blg
*.idx
*.lof
*.log
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.loa
*.nav
*.pre
*.snm
*.vrb
*.xdy
*.synctex.gz
*.bcf
*.run.xml

# LaTeX editor-specific files
.texpadtmp
.swp
*~ 
# Mac-specific files
.DS_Store

# Windows-specific files
Thumbs.db

# LaTeX output directory
output/
